{% if include.url != "  " or include.url != nil %}
<a href="{{ include.url }}" class="listCard">
    <figure>
        <img src="{{ include.thumbnail }}" with="auto" height="100%" alt="{{ include.title }} thumbnail">
    </figure>
    <div class="info">
        <p class="title">{{ include.title }}</p>
        <p class="description">{{ include.copy }}</p>      
    </div>
    <div class="actionIcon">
        <span>
            {% if include.url contains "https://" %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M16.004 9.414l-8.607 8.607-1.414-1.414L14.589 8H7.004V6h11v11h-2V9.414z"></path></svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
            {% endif %}
        </span>
    </div>
</a>
{% else %}
<div class="listCard">
    <figure>
        <img src="{{ include.thumbnail }}" with="auto" height="100%" alt="{{ include.title }} thumbnail">
    </figure>
    <div class="info">
        <p class="title">{{ include.title }}</p>
        <p class="description">{{ include.copy }}</p>      
    </div>
</div>
{% endif %}
